<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Subscription</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        h1 {
            font-size: 24px;
            margin-bottom: 40px;
        }
        .button-container {
            display: flex;
            gap: 20px;
        }
        .button-container button {
            width: 150px;
            padding: 10px;
            background-color: #4d4dc2;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
        .button-container button:hover {
            background-color: #3b3bb8;
        }
        #inputContainer {
            margin-bottom: 20px;
            padding: 10px;
        }
        #phoneNumberInput {
            width: 300px; /* Adjust width as needed */
            height: 40px; /* Adjust height as needed */
            font-size: 16px; /* Adjust font size as needed */
            padding: 5px; /* Optional: Add padding inside the input */
        }
        #SubsTable {
            margin: 20px;
            width: 200%;
            height: 200%;
        }
    </style>
</head>
<body>
<div>
    <div>
        <div class="col-12">
            <h1>Welcome to news subscription</h1>
        </div>
        <div id="inputContainer" class="align-content-center col " >
            <div class="row">
                <div class="col">
                    <input type="text" id="phoneNumberInput" placeholder="+123456789" style="margin-bottom: 10px">
                </div>
            </div>
            <div class="form-check">
                <div class="row">
                    <div class="col">
                        <input class="form-check-input" type="checkbox" value="" id="sportsCheck">
                        <label class="form-check-label" for="sportsCheck">
                            Sports
                        </label>
                    </div>
                    <div class="col">
                        <input class="form-check-input" type="checkbox" value="" id="politicsCheck">
                        <label class="form-check-label" for="politicsCheck">
                            Politics
                        </label>
                    </div>
                    <div class="col">
                        <input class="form-check-input" type="checkbox" value="" id="entertainmentCheck">
                        <label class="form-check-label" for="entertainmentCheck">
                            Entertainment
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <div class="row">
                    <div class="col">
                        <input class="form-check-input" type="checkbox" value="" id="businessCheck">
                        <label class="form-check-label" for="businessCheck">
                            Business
                        </label>
                    </div>
                    <div class="col">
                        <input class="form-check-input" type="checkbox" value="" id="scienceCheck">
                        <label class="form-check-label" for="scienceCheck">
                            Science
                        </label>
                    </div>
                    <div class="col">
                        <input class="form-check-input" type="checkbox" value="" id="weatherCheck">
                        <label class="form-check-label" for="weatherCheck">
                            Weather
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-container row">
            <div class="col">
                <button id="getSubscriptions">My subscriptions</button>
            </div>
            <div class="col">
                <button id="subscribe">Subscribe</button>
            </div>
        </div>
    </div>
    <div id="newsSubs" class="col-6">
        <table id="SubsTable" class="table">
        </table>
    </div>
</div>
</body>
<script>
    document.getElementById('getSubscriptions').addEventListener('click', getCurrentUserSubscriptions);
    document.getElementById('subscribe').addEventListener('click', newSubs);
    document.getElementById('1').addEventListener('click', deleteSub);
    document.getElementById('2').addEventListener('click', deleteSub);
    document.getElementById('3').addEventListener('click', deleteSub);
    document.getElementById('4').addEventListener('click', deleteSub);
    document.getElementById('5').addEventListener('click', deleteSub);
    document.getElementById('6').addEventListener('click', deleteSub);

    function newSubs() {

        const sports = document.getElementById('sportsCheck');
        const politics = document.getElementById('politicsCheck');
        const entertainment = document.getElementById('entertainmentCheck');
        const business = document.getElementById('businessCheck');
        const science = document.getElementById('scienceCheck');
        const weather = document.getElementById('weatherCheck');

        const checkBoxes = [sports, politics, entertainment, business, science, weather];

        const subscriptions = [];

        for (let i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                subscriptions.push(i+1);
            }
        }

        const phoneNumber = document.getElementById('phoneNumberInput').value;
        const token = 'Bearer ' + localStorage.getItem('token');
        const requestBody = {
            phoneNumber: phoneNumber,
            subscriptions: subscriptions
        };

        fetch('http://localhost:8080/subs/subscriptions', {
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json',
                'Authorization': token
            },
            body: JSON.stringify(requestBody)
        }).then(response => response.json()
            ).then(data => { alert(data.message)})
    }

    function getCurrentUserSubscriptions() {

        const { phoneNumber } = JSON.parse(localStorage.getItem('userData'));

        fetch('http://localhost:8080/subs/subscriptions/' + phoneNumber, {
            method : 'GET',
            headers: {
                'Authorization' : 'Bearer ' + localStorage.getItem('token')
            }
        }).then(response =>  response.json())
            .then(data => {
                const { subscriptionsList } = data;
                renderSubscriptions(subscriptionsList);
            })
    }

    function renderSubscriptions(data) {
        const container = document.getElementById('SubsTable');

        container.innerHTML = '';

        const table = document.createElement('table');
        table.style.margin = '0 auto';


        const headerRow = document.createElement('tr');
        const header1 = document.createElement('th');
        header1.textContent = 'Subscription ID';
        const header2 = document.createElement('th');
        header2.textContent = 'News Category';
        const header3 = document.createElement('th');
        header3.textContent = 'Actions';
        headerRow.appendChild(header1);
        headerRow.appendChild(header2);
        headerRow.appendChild(header3);
        table.appendChild(headerRow);

        data.forEach(item => {
            const row = document.createElement('tr');


            const cell1 = document.createElement('td');
            cell1.textContent = item.userSubscriptionId;

            const cell2 = document.createElement('td');
            cell2.textContent = item.newsCategory.name;

            const cell3 = document.createElement('td');
            const button1 = document.createElement('button');
            button1.innerHTML = '<i class="fa-solid fa-pencil">Edit</i>';
            button1.title = 'Edit';
            button1.className = "btn btn-primary btn-lg"
            button1.style.padding = '10px'
            button1.style.width = '50%'
            button1.style.height = '50%'
            button1.addEventListener('click', () => editSub(item.userSubscriptionId));


            const button2 = document.createElement('button');
            button2.innerHTML = '<i class="fa fa-trash">Delete</i>';
            button2.title = 'Delete';
            button2.className = "btn btn-primary btn-lg"
            button2.id = item.newsCategory.id;
            button2.style.width = '50%'
            button2.style.height = '50%'
            button2.style.padding = '10px'
            button2.addEventListener('click', () => deleteSub(item.userSubscriptionId));

            cell3.appendChild(button1);
            cell3.appendChild(button2);

            row.appendChild(cell1);
            row.appendChild(cell2);
            row.appendChild(cell3);

            table.appendChild(row);
        });

        container.appendChild(table);
    }

    function deleteSub(newsId) {

        const rawNumber = document.getElementById('phoneNumberInput').value;

        const phoneNumber = rawNumber.replace('+', '%2B');


        fetch(`http://localhost:8080/subs/subscriptions/delete/${newsId}?phoneNumber=${phoneNumber}`, {
            method: 'DELETE',
            headers: {
                'Authorization' : 'Bearer ' + localStorage.getItem('token')
            }
        }).then(response => { if (response.status === 204) {
            removeRow(newsId)
        }})
    }

    function removeRow(subscriptionId) {
        const table = document.getElementById('SubsTable');
        const rows = table.getElementsByTagName('tr');
        for (let i = 1; i < rows.length; i++) { // Start from 1 to skip header row
            const cell = rows[i].getElementsByTagName('td')[0];
            if (cell.textContent === subscriptionId) {
                table.deleteRow(i); // Remove the row
                break;
            }
        }
    }
</script>
</html>